!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Election Perceptions
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{:rel => "stylesheet", :href => "/stylesheets/politico.css", :type => "text/css", :media => "screen, projection"}
    %script{:type => "text/javascript", :src => "js/jquery.js"}
  %body
    #container
      %h1
        Election Perceptions
      =yield